h1 {
background: red;}

.par-1
{
font-size: 14pt;
color: red;
}

.par-2
{
border: 10px solid yellow;
border-radius: 5px;
}

div
{
font-family: Arial;
font-weight: bold;
}

.par-3
{
text-align: center;
font-style: italic;
font-size: 24pt;
text-shadow: green 2px 2px;
}